@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background-image: linear-gradient(180deg, rgb(141, 91, 126), rgb(174, 223, 228));
  background-attachment: fixed;
  text-align: center;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(186, 246, 244);
}

.navbar {
  padding: 20px;
  display: flex;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #35f151;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover,
.navbar h1:hover {
  color: #f1356d;
}

#enclosing {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
  border-spacing: 0px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

th {
  font-size: large;
  font-weight: bold;
  padding-bottom: 7px;
}

th,
td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.description {
  margin: 30px;
}

.topElements {
  padding: 5px 60px;
}

.artistPics {
  width: 160px;
  height: 160px;
}

.tableElements:hover {
  background-color: rgb(184, 244, 253);
}

span {
  background: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-256.png");
  width: 100px;
  height: 100px;
  position: absolute;
  pointer-events: none;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: animate 6s linear;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(0);
  }

  100% {
    transform: translate(-50%, -5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}

button {
  border: none;
  border-radius: 10px;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}

button:hover {
  transform: scale(1.1);
}